.about_main_1 {
  display: flex;
  background-color: white;
  min-height: 400px;
  ;
}
.about_main_1 img {
  width: 40%;
  margin: 10px;
  float: left;
}
.about_main_1 h1{
margin-top: 0;
}
.about_main_1 p {
  margin: 10px;
  text-align: justify;
}
.about_main_2 {
  background:  url('./image/logo_main_4.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #7492ec;
  background-size: auto 300%;
  min-height: 200px;
  color: white;
  text-align: center;
}
.about_main_2 h4 {
  padding-top: 50px;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}