body {
  margin: 0px;
  background-color: #E8EBF9;
  font-family: 'Open Sans', sans-serif;
}
header, div, footer {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}
footer {
  background: #222222;
  height: 400px;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
.floor_1 {
  height: 70px;
  border-bottom: solid 1px #8b8b8b;
  display: flex;
  align-items: center;
  background: url('./image/logo_white.gif'), #181818;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 101px 10px;
  }
.floor_1 div {
  flex: 1 1 100px;
  height: 100%;
}
.floor_1 p {
  margin-left: 60px;
  margin-top: 12px;
}
.floor_1 div:last-of-type, .floor_1 div:first-of-type {
  flex: 0 0 100px
}
.floor_1 form {
  position: absolute;
}

footer div:first-of-type input:first-of-type{
  height: 43px;
  width: 170px;
  border-radius: 45px;
  border: none;
  padding-left: 15px;

  outline: none;
  background: #222222;
  color: white;
  text-align: right;
  margin-top: 12px;
  text-align: left;
  }
footer div:first-of-type input:last-of-type{
  height: 45px;
  border-radius: 45px ;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  background: #7492ec;
  color: white;
  border: none;
  position: relative;
  right: 45px;
  text-transform: uppercase;
  font-weight: bold;
 }
footer div:first-of-type input:last-of-type:hover {
box-shadow: inset 2px 2px 9px white
}
footer div:first-of-type input:last-of-type:active {
  box-shadow: inset 2px 2px 9px #1e326b;
  background-color: #4865bd;  
}
div.floor_2 {
  display: flex;
  height: 260px;
 }
div.floor_2 h4, div.floor_2 p {margin-left: 5px;}
div.floor_2 ul {
  margin: 0;
  padding: 0;
   }

div.floor_2 li {
  list-style-type: none;
  font-size: small;
  margin-left: 5px;
  text-align: justify;
 }

 @media only all and (max-width: 950px) {
   div.floor_3_4 {display: none;}
 }

div.floor_3 {
  background: #181818;
  display: flex;
  align-content: space-between;
  align-items: center;
  color: white;
  font-size: smaller;
  padding-left: 100px;
  height: 70px;
}
div.floor_3 a {
  font-size: smaller;
}

div.floor_3 li {
  display: inline-block;
  background-color: #222222;
  width: 90px;
  height: 30px;
  padding: 7px;
  border-radius: 5px/10px;
  text-align: center;
  vertical-align:middle;
  color: white;
  text-decoration: none;
}

@media only all and (max-width: 850px) {
  .floor_1 {
  flex-direction: column;
  height: 210px !important;
  background: #181818 !important;  
  align-items: flex-start !important;
}
.floor_1 div {
  margin: 0;
  width: 100%;

}
.floor_1 p {
  margin-left: 5%!important;
  width: 90%!important;
}
.floor_1 form {
  width: 80%!important;
}
.floor_1 input:first-child{
  margin-top: 0!important;
  margin-left: 5% !important;
  width: 40%!important;
  padding-left: 0!important;
  text-align: center!important;
  min-width: 100px!important;
  padding-left: auto!important;
  padding-right: auto!important;
}
.floor_1 input:last-child{
  position: relative;
  margin-left: 5% !important;
  width: 40%!important;
  right: 0!important;
  min-width: 100px!important;
  padding-left: 0!important;
  padding-right: 0!important;
  font-weight: small!important;
}
.floor_1 br {
  display: block!important;
}
.none {
  display: none;
}
.floor_2 {
  height: auto!important;
  background-color: #222222!important;
}

@media only all and (max-width: 620px) {
  .footer_last_1 {
    display: none;
  }
  .footer_last_2 {
  flex: 1 1 10px!important;
  }
  .footer_last_2 iframe {
    width: 90%;
    height: 80%;
  }
} 
.floor_3 {
  padding-left: 5%!important;
}

}