.way_main {
  display: flex;
  background: white;
}

.way_main_1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  background:  url('image/way_logo.gif'), url('image/way_logo.gif'),url('image/way_logo.gif'), white;
  background-repeat: no-repeat;
  background-position: right, left top, left bottom;
  justify-content: space-between;

}
.way_main_1 div {
  width: 300px;
  min-height: 400px;
  margin-bottom: 15px;

}
.way_main_1 img {
  width: 90%;
  margin-left: 5%;
}
.way_main_1 h4 {
  text-align: center;
}
.way_main_1 p {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;

}